<div class="container-fluid">
    <div class="card">
        <div class="content">
            <form [formGroup]="changePasswordFormGroup">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control border-input" [formControl]="changePasswordFormGroup.controls['email']" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control border-input" [formControl]="changePasswordFormGroup.controls['oldPassword']" placeholder="Old Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control border-input" [formControl]="changePasswordFormGroup.controls['newPassword']" placeholder="New Password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control border-input" [formControl]="changePasswordFormGroup.controls['confirmNewPassword']"
                                placeholder="Confirm New Password">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>