<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <img width="35%" class="img-circle img-no-padding img-responsive" src="assets/IMG-20161023-WA0013.jpg">
                    <h1 class="presentation-title">College Council</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">A Group of Students & Teachers</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class="category-absolute ml-auto mr-auto">Designed and coded by
            <a href="http://wwww.facebook.com/world.raj95">
                Raj Chauhan
            </a>
        </h6>
    </div>
</div>